.card {
  border: 6px solid #df9453;
  border-radius: 25px;
  height: 470px;
}

.card-header {
  background-color: white;
  border: none;
  margin: 5px;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.h5 {
  font-family: "Sansita Swashed", cursive;
  font-size: 25px;
}

.card-text {
  font-family: "Merriweather Sans", sans-serif;
}

.location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}

.location p {
  margin: 0px;
  margin-left: 20px;
}

.fa-map-marker-alt path {
  fill: #f37472;
}

.fa-gifts path {
  fill: #f37472;
}

.img-body {
  width: 50px;
  height: 50px;
}

.btn-card {
  background-color: #6aae7d;
  color: white;
  border: 1px solid#9cc9a8;
}

.btn-card:hover {
  background-color: #6aae7d !important;
  border: 1px solid#9cc9a8;
}

.img-container {
  margin: 5px;
}
