.footer {
  width: 100%;
  height: 300px;
  margin-top: 2rem;
  background-color: #b4b4b1;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 2rem;
  font-family: "Martel", serif;
  color: black;
}

a {
  color: black;
}
