.navbar {
  background-color: white !important;
}
.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
}

.nav-link {
  color: black !important;
  font-weight: bold;
  margin-right: 2rem;
  margin-left: 2rem;
}
