.presentation {
  width: 100% !important;
  height: 600px;
  margin-bottom: 2rem;
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../src/img/christmas-market-.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.txt-presentation {
  width: 70%;
  height: auto;
  padding: 4rem;
  border-radius: 15px;
  background-color: white;
}

.txt-presentation h1 {
  margin-bottom: 2rem;
}

.card-img-top {
  width: 100%;
  height: 15vw;
}

.search-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 350px;
  background-color: #9cc9a8;
  color: white;
}

form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-group {
  width: 50%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  background-color: white;
}

.input-group input {
  margin: auto;
}

