.presentation {
  width: 100% !important;
  height: 600px;
  margin-bottom: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/thumbnail.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #b4b4b1;
}

.txt-presentation {
  width: 70%;
  height: auto;
  padding: 4rem;
  border-radius: 15px;
  background-color: white;
}

.txt-presentation h1 {
  margin-bottom: 2rem;
}

.card-img-top {
  width: 100%;
  height: 15vw;
}

.search-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 350px;
  background-color: #9cc9a8;
  color: white;
  border: 1px solid #b4b4b1;
}

form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-group {
  margin-top: 2rem;
  width: 50%;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  background-color: white;
}

.input-group input {
  margin: auto;
}

.craftsmen-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.craftsmen-list h2 {
  font-size: 50px;
}
.craftsmen-list h4 {
  font-size: medium;
}
