.header-bg {
  width: 100%;
  height: 500px;
  margin: auto;
  border: solid 1px red;
  background-image: url("/src/img/noel-a-avignon-marche-de-noel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.transparent {
  position: absolute;
  margin: 20px;
  width: auto;
  background-color: rgba(0, 0, 0, 0) !important;
}
